.modRefund {
    .Refund__input {
        text-align: center;
        font-family: font8;
        input {
            border: 1px solid #D8D6D6;
            margin: 0 5px;
            width: 80px;
            height: 30px;
            padding: 0 10px;
        }
    }
}
