.app-modal-refund {
    .modal-dialog {
        width: 780px;
    }
}
.modRefundList {
    .lsButtons {
        text-align: left;
        margin-bottom: 10px;
    }
    .tableContent {
        input {
            border: 1px solid rgb(230,230,230);
            text-align: center;
        }
    }
}
